/* convetoinses */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

@media all and (min-width: 320px) {
    .page__header {
        background: url(../img/main_img_mobile.png)rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 542px;
    }

    .container__for__link {
        font-size: 0;
        padding: 32px 0 165px 0;
    }
/* ссылки */s
    .header__link1 {
        text-decoration: none;
        color: white;
        font-size: 14px;
        margin-left: 80px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

    .header__link2 {
        text-decoration: none;
        color: white;
        font-size: 14px;
        padding: 10px 17px 8px 16px;
        margin-left: 25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        border: 3px solid white;
        border-radius: 25px;
    }
/* робота с текстом */
    .colorer {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-align: center;
        color: white;
        text-transform: uppercase;
    }
    .header__logo {
        font-size: 20px;
        padding-bottom: 39px;
    }

    .header__zagolovok {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .header__text {
        width: 217px;
        margin: 0 auto 19px;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        text-align: center;
        color: white;
    }
/* кнопка */
    .button {
        width: 280px;
        height: 40px;
        background-color: #ff4e50;
        border: 1px solid #ff4e50;
        border-radius: 25px;
        margin-left: 20px;
        /* text-align: center; */
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: white;
        cursor: pointer;
    }

    .main__zagolovok {
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-align: center;
        margin: 69px 0 20px 0;
    }

/* лишки */

    .li__img {
        margin-left: 100px;
        border-radius: 100px;
        position: relative;
    }

/* ссылки фото */

    .div_img1 {
        width: 35px;
        height: 35px;
        position: absolute;
        background-color: #ff4e50;
        top: 765px;
        left: 175px;
        border: 5px solid white;
        border-radius: 100px;
    }

    .div_img2 {
        width: 35px;
        height: 35px;
        position: absolute;
        background-color: #ffa507;
        top: 1010px;
        left: 175px;
        border: 5px solid white;
        border-radius: 100px;
    }

    .div_img3 {
        width: 35px;
        height: 35px;
        position: absolute;
        background-color: #1cd7ad;
        top: 1285px;
        left: 175px;
        border: 5px solid white;
        border-radius: 100px;
    }

    .div_img4 {
        width: 35px;
        height: 35px;
        position: absolute;
        background-color: #4e73db;
        top: 1532px;
        left: 175px;
        border: 5px solid white;
        border-radius: 100px;
    }

/* паддинги ссылок */

    .link__img1 {
        padding: 6px 0 0 8px;
    }

    .link__img2 {
        padding: 8px 0 0 11px;
    }

    .link__img3 {
        padding: 7px 0 0 8px;
    }

    .link__img4 {
        padding: 8px 0 0 8px;
    }

/* заголовки фото */

    .div__zagolovok {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        padding: 20px 0 20px 0;
    }

/* текст */

    .yes {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        text-align: center;
        font-size: 18px;
        padding-bottom: 20px;
        color: gray;
    }

/* кнопка  */

    .buttoner {
        width: 276px;
        height: 36px;
        background-color: transparent;
        border: 1px solid #ff4e50;
        border-radius: 25px;
        margin: 30px 0 60px 22px;
        /* text-align: center; */
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #ff4e50;
        cursor: pointer;
    }
}

@media all and (min-width: 768px) {

/* картина сайта */

    .page__header {
        background: url(../img/main_img.png)rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        /* background-size: cover; */
        width: 100%;
        height: 700px;
        position: relative;
    }

/* ссылки */

    .header__link1 {
        position: absolute;
        top: 50px;
        left: 550px;
        margin: 0;
    }

    .header__link2 {
        position: absolute;
        margin: 0;
        top: 38px;
        left: 620px;
    }

/* лого */

    .header__logo {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 50px;
        left: 50px;
    }

/* текст и кнопка */

    .header__zagolovok {
        font-size: 52px;
        padding: 0 0 40px 100px;
        width: 568px;
    }

    .header__text {
        font-size: 24px;
        margin: 0;
        padding: 0 0 35px 0;
        width: 100%;
    }

    .button {
        margin-left: 272px;
        width: 225px;
        height: 40px;
    }

/* списки */

    .main__ul {
        list-style-type: none;
        display: flex;
    }

/* условности */

    .main__zagolovok {
        padding-bottom: 35px;
    }

    .li__img {
        margin: 0 0 0 35px;
    }
    
    .ul__li {
        margin-left: 130px;
        width: 180px;
    }

    .wrapperer {
        display: flex;
        flex-direction: column;
    }

    .containerer {
        display: flex;
        flex-direction: column;
    }

    .povar {
        margin-top: 23px;
    }
    .war {
        margin-top: 2px;
    }
    
    .minus {
        padding: 0 0 0 105px;
    }

/* работа с текстом */

    .h__text {
        width: 250px;
        padding: 0 0 60px 105px;
    }

    .div__zagolovok {
        padding-left: 100px;
    }

    .div_img1 {
        top: 925px;
        left: 235px;
    }

    .div_img2 {
        top: 1235px;
        left: 235px;
    }
    
    .div_img3 {
        top: 925px;
        left: 593px;
    }

    .div_img4 {
        top: 1235px;
        left: 593px;
    }

/* кнопка */

    .buttoner {
        margin-left: 305px;
        width: 188px;
        height: 36px;
    }
}

@media all and (min-width: 1440px) {
    .page__header {
        background: url(../img/main_img.png)rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 700px;
        position: relative;
    }

    .header__link1 {
        position: absolute;
        top: 50px;
        left: 1040px;
        margin: 0;
    }

    .header__link2 {
        position: absolute;
        margin: 0;
        top: 38px;
        left: 1110px;
    }

    .header__logo {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 50px;
        left: 240px;
    }

    .header__zagolovok {
        font-size: 52px;
        padding: 20px 0 35px 430px;
        width: 568px;
    }

    .button {
        margin-left: 610px;
        width: 225px;
        height: 40px;
    }

    .main__ul {
        list-style-type: none;

    }

    .li__img {
    }

    .ul__li {
       
    }

    .rower1 {
        position: absolute;
        top: 840px;
        left: 50px;
        display: inline-block;
    }

    .rower2 {
        position: absolute;
        top: 817px;
        left: 655px;
        display: inline-block;
    }

    .rower3 {
        position: absolute;
        top: 840px;
        left: 357px;
        display: inline-block;
    }

    .rower4 {
        position: absolute;
        top: 840px;
        left: 960px;
        display: inline-block;
    }


    .wrapperer {
        display: inline-block;
    }

    .containerer {
        display: inline-block;
    }

    .div_img1 {
        top: 80px;
        left: 235px;
    }

    .div_img2 {
        top: 100px;
        left: 240px;
    }

    .div_img3 {
        top: 80px;
        left: 240px;
    }

    .div_img4 {
        top: 77px;
        left: 240px;
    }

    .buttoner {
        margin-top: 300px;
        margin-left: 626px;
    }

    .h__text {
        width: 250px;
    }
}
  
